<h1 mat-dialog-title>{{venue.name}}</h1>

<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="venue.name" name="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="venue.city" name="city">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="venue.address" name="address">
        </mat-form-field>
        <h2>URLs</h2>
        <app-edit-urls [urls]="venue.urls"></app-edit-urls>
    </form>
</div>
<div>
    <button mat-fab (click)="saveVenue()" color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>save</mat-icon>
    </button>
</div>