
    <app-edit-gig-dialog id="" type="add"></app-edit-gig-dialog>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
            Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Venue Column -->
    <ng-container matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by venue">
            Venue
        </th>
        <td mat-cell *matCellDef="let element"> {{element.venue}} </td>
    </ng-container>

    <!-- Artists Column -->
    <ng-container matColumnDef="artists">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by artists">
            Artists
        </th>
        <td mat-cell *matCellDef="let element"> {{element.artists}} </td>
    </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state">
                State
            </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
            Edit
        </th>
        <td mat-cell *matCellDef="let element">
            <app-edit-gig-dialog [id]="element.id" type="edit"></app-edit-gig-dialog>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>