<h1>{{gig!.name }}</h1>
{{ gig!.date }} {{ gig!.openTime }}

<div class="row">
    <div class="column">
        <h3>Promoters</h3>
        <div *ngIf="gig!.promoters.length > 0">
            <app-show-promoter  *ngFor="let item of gig!.promoters" [id] = "item"></app-show-promoter>
        </div>
        <h3>Ticket prices</h3>
        <markdown ngPreserveWhitespaces [data]="gig!.ticketPrices">
        </markdown>

        <h3>Hospitality</h3>
        {{ gig!.hospitality}}

        <h3>Entourage</h3>
        <markdown ngPreserveWhitespaces [data]="gig!.entourage">
        </markdown>

    </div>
    <div class="column">
        <h3>Guarantee</h3>
        <markdown ngPreserveWhitespaces [data]="gig!.guarantee">
        </markdown>

        <h3>Special Arrangements</h3>
        <markdown ngPreserveWhitespaces [data]="gig!.special">
        </markdown>

        <h3>Files</h3>
        <ul *ngIf="gig!.files.length > 0">
            <li *ngFor="let item of gig!.files">
                <a href="{{downloadBase}}{{item?.serverName}}">{{item?.localName}}</a>
            </li>
        </ul>
        <h3>URLs</h3>

        <ul *ngIf="gig!.urls.length > 0">
            <li *ngFor="let item of gig!.urls">
                <a href="{{item?.url}}" target="_blank">{{item?.name}}</a>
            </li>
        </ul>

        <h3>Goes public on date</h3>
        {{ gig!.publicDate }}

        <h3>Notes</h3>
        <markdown ngPreserveWhitespaces [data]="gig!.notes">
        </markdown>
    </div>
</div>